// Цвета
$gray 				: #999999;
$gray-opacity       : rgba(0, 0, 0, 0.3) !important;
$gray-high-opacity  : rgba(0, 0, 0, 0.1);
$blue				: #337AB7;
$main-color         : #7c4121;
$green-main			: $main-color; // new bootstrap
$green-light        : lighten($green-main, 10);
$green-dark         : darken($green-main, 10);
$hover_blue			: #23527c;

$promo				: #3A6487;

$red				: #ff0039;
$pink				: #ffcccc;
$orange				: #fbaa33;
$metro_orange		: rgb(251, 170, 51);


$green				: #5cb85c;
$metro_green		: #029A55;
$bright_green		: #5cb85c;

$dark_red			: #A94442;

$hr_gray 			: #eee;
$half_black			: rgba(0, 0, 0, .5);
$quater_black 		: rgba(0, 0, 0, .25);
